

.cartbox{
    /* border: 1px solid red; */
    height: 800px;
    font-family: georgia,times,serif;
    font-family: helvetica,helvetica,arial,sans-serif;
}
.shadow{
    /* border: 1px solid blue; */
    width: 95%;
    height: auto;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.cartmain{
    /* border:1px solid black; */
    width:80%;
    margin:auto;
    height: 700px;
    margin-top: 10px;
    display: flex;
   
   
}
.program{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: 0.5px solid gray;
    width: 100%;
    height: 120px;
    padding: 10px;
    line-height: 25px;
    border-radius: 5px;
}
.shipped{
    /* border: 1px solid gray; */
    height: 240px;
    background-color:rgb(246,246,248);
    width: 100%;
    margin-top: 20px;
 
}
.pay{
    border: 0.5px solid gray;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 80%;
    height: 300px;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    
}
.promo{
    border: 0.5px solid gray;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 80%;
    height: 90px;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    padding: 4px;
}
.btn{
   font-size: 12px;
   font-weight: bold;
   width: 120px;
   height: 30px;
   border-radius: 1.2rem;
   border: 2px solid black;
}
.btn:hover{
    color: gray;
    border: 2px solid lightgray;
}
.sample{
    border: 1px solid gray;
      border-top: none;
      border-left: none;
      border-right: none;
      height: 100px;
      display: flex;
      padding: 10px;
      gap:10px;
      text-align: center;
}
.sample>div{
    border: 1px solid gray;
    width: 50%; 
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.sample>div>h4{
    font-size: 14px;
    font-weight: 600;
}

.checkout{
    /* border: 1px solid blue; */
    width: 90%;
    margin: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1px;
}
.checkout>p+h6{
    font-weight: 600;
}
.checkout>p{
    font-size: 14px;
}
.total{
    width: 90%;
    margin: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1px;
    margin-top: 5px;
    font-weight: 600;
}
.btn1:hover{
        border: 2px solid gray;
        background-color:transparent;
}
.btn2{
    width: 25%;
    height: 40px;
    border-radius: 1.4rem;
    margin-left: 10px;
    color: white;
    background-color: black;
}
.btn2:hover{
    background-color:gray;
}
.cartitem{
    border: 1px solid gray;
    display: flex;
    margin-top: 10px;
    line-height: 25px;
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.cartitem>h5{
    font-weight:bold;
}
.cartitem>div>h4{
    font-weight: bold;
}
.cartitem>div>h4+p+p{
      font-size: 12px;
      color: gray;
}
.select{
    border: 1px solid gray;
    border-radius: 5px;
}
.cartitem>div>h4{
    /* border: 1px solid red; */
    width: 200%;
}
.cartitem>div>h4+p{
    /* border: 1px solid red; */
    width: 200%;
}
.remove{
    color: rgb(5, 151, 242);
    font-size: 12px; 
    padding: 0px;
    margin-left: 10px;
}
.remove:hover{
    border:1px solid rgb(5, 151, 242) ;
    border-top: none;
    border-left: none;
    border-right: none;
}